* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

header{background-color: #ffffff;
       
       
       border:1px solid black;
       
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        align-content: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#header1{
        display: flex;
        justify-content: space-between;
        gap: 40px;
}
#header2{
          display: flex;
          justify-content:space-between ;
          border: 1px solid black;
          width: 220px;
          height: 34px;
           border-radius: 20px;
           align-items: center;
       
          top:20px;
}
nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
}
nav > a{
      display: block;
      text-decoration: none;
}
#top{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: space-between;  
    padding: 30px 40px;
}
 #top >div{
           width: 30%;
}
#top >img{
           width: 70%;
} 
#top1{
        display: flex;
        flex-direction: column;
        
        
}
#join{
    background: #FFA500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 40px;
    width: 100px;
    margin: 0px auto;
    padding:10px;
    }

#get{
    background-color:  #FFA500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 5px;
     width: 100px;
      height: 30px;
      padding: 5px;
      text-decoration: none;
      
}
main{
       display: flex;
       justify-content: space-between;
       box-sizing: border-box;
       background-color: #E5E5E5;
       border: 1px solid black ;
       margin:70px auto;
       height: 60vh;
       width: 50vw;
       
       
}
#main1 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px 20px 70px 50px;
    
           
}  
#main2 {
    width: 100%;
    height: 100%;
         
}
 #main2 >img{
    width: 100%;
    height:100%;
} 
#user,#pass{
            border: 1px solid black;
            height: 25px;
            padding: 10px;
            width: 80%;
            margin: 0px auto;          
            
}
#signIn{
         font-weight: bolder;
         
         margin:0px 60px 40px;
}
#forget{
    width: 115px;
    height: 16px;
    font-family: 'BR Firma';
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #FFA500;
    margin-left: 55%;
}
#Sign{
       border: 1px solid black;
       background-color:#17AD1D;
       display: block;
       text-align: center;
       width: 80%;
       
      height: 25px;
       box-sizing: border-box;
       padding: 5px;
}
#Sign1{
         font-size: 9px;
         font-family: 'BR Firma';
         font-style: normal;
         font-weight: 400;
         line-height: 16px;
}
 #sign2{
             color:#FFA500;
            
}
#or{
      font-weight: bolder;
}
#google{
    width: 60%;
    height: 25px;
    margin: 10px 30px   ;
    border-radius: 33px;
    padding: 5px;
    text-align: center;
    background-color: #FF2424;
}
#face{
    width: 60%;
    height: 25px;
    margin: 10px 30px   ;
    border-radius: 33px;
    padding: 5px;
    text-align: center;
    background-color: #213FDC;
}
footer{
    background-color: #FFA500;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 15px auto;
    padding: 20px;
    gap: 20px;
    font-size: large;
    

}